<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Connecter</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendors/hamburgers/hamburgers.min.css" rel="stylesheet">
    <link href="vendors/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="assets/css/theme.min.css" rel="stylesheet" />
    <link href="assets/css/user.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.
css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye
+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="fixed-top">
      <div class="container px-0">
        <nav class="navbar navbar-expand-lg navbar-freya navbar-light"> <a class="navbar-brand" href="index.html">
            <div class="freya-logo">BIBLIO-line</div>
          </a><button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavbarCollapse" aria-controls="primaryNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="hamburger hamburger--emphatic"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></button>
          <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
            <ul class="navbar-nav py-3 py-lg-0 mt-1 mb-2 my-lg-0 ms-lg-n1">  
              <li class="nav-item active "><a class="nav-link  " 
                href="connexion.html" role="button" data-bs-toggle="" aria-expanded="false">se connecter</a>
              </li>                           
            </ul>
            <!--<ul class="navbar-nav ms-lg-auto flex-row justify-content-center py-3 py-lg-0 me-n2">
              <li><a class="nav-link px-2" href="#"><span class="fab fa-facebook-f" data-fa-transform="shrink-2"></span></a></li>
              <li><a class="nav-link px-2" href="#"><span class="fab fa-twitter" data-fa-transform="shrink-2"></span></a></li>
              <li><a class="nav-link px-2" href="#"><span class="fab fa-instagram" data-fa-transform="shrink-2"></span></a></li>
              <li><a class="nav-link px-2" href="#"><span class="fab fa-dribbble" data-fa-transform="shrink-2"></span></a></li>
            </ul>-->
          </div>
        </nav>
      </div>
    </div>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="preloader" id="preloader">
        <div class="loader-box">
          <div class="loader"></div>
        </div>
      </div>
      <section class="py-0">
        <div class="swiper theme-slider min-vh-100" data-swiper='{"loop":true,"allowTouchMove":false,"autoplay":{"delay":5000},"effect":"fade","speed":800}'>
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-zanim-timeline="{}">
              <div class="bg-holder overlay overlay-freya" style="background-image:url(assets/img/header_1.jpg);" data-parallax="data-parallax" data-rellax-speed="-3"></div>
              <!--/.bg-holder-->
              <div class="container">
                <div class="row min-vh-100 justify-content-start align-items-end pt-11 pb-6 text-white" data-zanim-timeline="{}">
                  <div class="col">
                    <div class="row align-items-end">
                      <div class="col-lg">
                        <div class="overflow-hidden">
                          <p class="mb-1 text-uppercase ls" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.1}'>BIBLIO-line</p>
                        </div>
                        <div class="overflow-hidden">
                          <h2 class="text-white fw-medium mb-4 mb-lg-0" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0}'></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-zanim-timeline="{}">
              <div class="bg-holder overlay overlay-freya" style="background-image:url(assets/img/header_2.jpg);" data-parallax="data-parallax" data-rellax-speed="-3"></div>
              <!--/.bg-holder-->
              <div class="container">
                <div class="row min-vh-100 justify-content-start align-items-end pt-11 pb-6 text-white" data-zanim-timeline="{}">
                  <div class="col">
                    <div class="row align-items-end">
                      <div class="col-lg">
                        <div class="overflow-hidden">
                          <p class="mb-1 text-uppercase ls" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.1}'>Nous vous Offrons</p>
                        </div>
                        <div class="overflow-hidden">
                          <h2 class="text-white fw-medium mb-4 mb-lg-0" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0}'>Une Expérience Unique</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-zanim-timeline="{}">
              <div class="bg-holder overlay overlay-freya" style="background-image:url(assets/img/header_3.jpg);" data-parallax="data-parallax" data-rellax-speed="-3"></div>
              <!--/.bg-holder-->
              <div class="container">
                <div class="row min-vh-100 justify-content-start align-items-end pt-11 pb-6 text-white" data-zanim-timeline="{}">
                  <div class="col">
                    <div class="row align-items-end">
                      <div class="col-lg">
                        <div class="overflow-hidden">
                          <p class="mb-1 text-uppercase ls" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.1}'>Pour Votre </p>
                        </div>
                        <div class="overflow-hidden">
                          <h2 class="text-white fw-medium mb-4 mb-lg-0" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0}'>Satisfaction</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-nav">
            <div class="swiper-button-prev"><span class="fas fa-chevron-left"></span></div>
            <div class="swiper-button-next"><span class="fas fa-chevron-right"></span></div>
          </div>
        </div>
      </section

          

    </main>
      
   
    <footer class="bg-primary text-center py-6">
      <div class="container  text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto-4">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> DESCRIPTION</h5>
              <p>BIBLIO-line c'est une application qui propose a ces Utilisateursun un ensembles de 
     documents numérique </p>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto-4">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning">APP</h5>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
                  
                  
                  <!--<li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true
                  </li>-->
              </ul>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto-4">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning">CONTACT</h5>
              <p>
               <i class="fas fa-home mr-1">quentinzango@gmail.com
                    
               </i>
              </p>
              <p>
                  <i class="fas fa-print mr-2">
                    +237 692485776 
                  </i>
              </p>
              <p>
                      <i class="fas fa-print mr-3">
                         +237 651745244 
                      </i>
              </p>
          </div>
      </div>
        <p class="text-uppercase text-300 ls mb-3">Freya Incorporated, 019 Appellation Ave, New Jersey, 535-118-7056</p>
        <p class="text-700 mb-0">Template by <a class="text-600" href="https://themewagon.com" target="_blank">Themewagon</a></p>
      </div>
    </footer>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/bigpicture/BigPicture.js"> </script>
    <script src="vendors/swiper/swiper-bundle.min.js"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="vendors/rellax/rellax.min.js"></script>
    <script src="vendors/lodash/lodash.min.js"></script>
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/gsap/gsap.js"></script>
    <script src="vendors/gsap/customEase.js"></script>
    <script src="assets/js/theme.js"></script>
  </body>

</html>